<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Warehouse</title>
</head>
<body>
<h1>Warehouse</h1>
<div><a th:href="@{/api/v1/planets}">Back to planet list</a></div>
<div>"${warehouse.planetId}"</div>
<div>"${warehouse.planetName}"</div>
<table border="1">
    <tr>
        <th>ProductType</th>
        <th>Amount</th>
        <th>Price for 1</th>
    </tr>
    <tr th:each="product : ${warehouse.products}">
        <td th:text="${product.productType}"></td>
        <td th:text="${product.amount}"></td>
        <td th:text="${product.price}"></td>
    </tr>
</table>
</body>
</html>